* {
    font-family: 'Raleway', sans-serif;
    color: #ebe9e9;
    font-size: 1em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-size: 18px;
    max-width: 100%;
    overflow-x: hidden;
}

h1, h1 #name {
    font-family: 'Raleway', sans-serif;
    font-size: 1.35em;
    color: #DCDCD8;
}

h2 {
    font-family: 'Agdasima', sans-serif;
}

.bold {
    font-weight: bold;
    letter-spacing: 1.5px;
}

.uppercase {
    text-transform: uppercase;
}

.cursive {
    font-style: italic;
}

.line {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 1050px;
    height: 5px;
    border: 0;
    background-image: linear-gradient(
        to right,
        #100E0D  0,
        #cb9b51 30%, 
        #f6e27a 45%,
        #f6f2c0 50%,
        #f6e27a 55%,
        #cb9b51 70%,
        #100E0D 100%
        );
}

/* Header */

#welcome {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#profile {
    position: absolute;
    display: grid;
    max-width: 100%;
    grid-template: 520px / 520px 520px;
    gap: 10px;
}

#hello {
    display: table;
    font-size: 5em;
    background-image: linear-gradient(
        to right,
        #6b4e23  0,
        #cb9b51 22%, 
        #f6e27a 45%,
        #f6f2c0 50%,
        #f6e27a 55%,
        #cb9b51 78%,
        #6b4e23 100%
        );
       color:transparent;
       -webkit-background-clip: text;
}

#name {
    text-transform: uppercase;
    font-size: 1.4em !important;
}

#profile-text {
    align-self: end;
}

#profile-text p {
    font-size: .8em;
    margin-top: 3px;
}

#headshot {
    width: 520px;
    height: 520px;
}

#line-1 {
    top: 580px;
}

/* Info and Contact */

#info {
    display: flex;
    position: absolute;
    justify-content: center;
    text-align: center;
    top: 620px;
    width: 1050px;
}

#info .bold {
    color: #f6f2c0;
    text-shadow: #6b4e23 2px 2px 2px;
}

#contact {
    position: absolute;
    justify-content: center;
    top: 690px;
}

#contact a {
    display: inline;
    font-size: 1.7em;
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.4s;
}

#line-2 {
    top: 755px;
}

.nav {
    position: absolute;
    display: grid;
    grid-template: 1fr / repeat(3, 1fr) 180px;
    margin-right: 50px;
    width: 1000px;
    top: 790px;
}

.nav a {
    user-select: none;
    justify-self: center;
    font-size: 1.3em;
    transition: 0.4s;
    padding: 5px;
}

.nav a:hover {
    cursor: pointer;
    color: #f6f2c0;
    text-shadow: #6b4e23 2px 2px 2px;
    font-size: 1.4em;
    .fas {
        color: #f6f2c0;
    }
}

/* NAV Sections */

#dropdown-sections {
    display: flex;
    justify-content: center;
}

/* Dropdown Sections */

#about-me h2,
#career-education h2,
#portfolio h2,
#skills h2 {
    margin-left: 35px;
    display: table;
    font-family: 'Agdasima', sans-serif;
    font-size: 4em;
    background-image: linear-gradient(
        to right,
        #6b4e23  0,
        #cb9b51 22%, 
        #f6e27a 45%,
        #f6f2c0 50%,
        #f6e27a 55%,
        #cb9b51 78%,
        #6b4e23 100%
        );
        color:transparent;
        -webkit-background-clip: text;
}

/* Collapse Code (Only work on first click)
.section {
    overflow: hidden;
    transition: max-height 0.6s ease-out;
    height: auto;
    max-height: 1200px;
}

.section.collapse {
    max-height: 0;
    height: 0;
}
*/


/* About Me */

#about-me {
    position: absolute;
    top: 870px;
    width: 1050px;
}

#about-me-text {
    background-color: #ebe9e9;
    border: 5px solid #cb9b51;
    width: 1050px;
    padding: 25px;
    margin-top: 25px;
}

#about-me-text p {
    color: #100E0D;
    line-height: 1.35em;
}

#personal-text {
    background-color: #ebe9e9;
    border: 5px solid #cb9b51;
    width: 1050px;
    padding: 25px;
    margin-top: 25px;
}

#personal-text p {
    color: #100E0D;
    line-height: 1.35em;
}

.qualities {
    font-weight: bold;
    margin-top: 25px;
    letter-spacing: 1.5px;
}

/* Career & Education */

#career-education {
    position: absolute;
    top: 870px;
    width: 1050px;
}

#career-education .cursive {
    font-size: .8em;
}

#career {
    margin-top: 50px;
}

#career-education a {
    text-decoration: none;
    margin-left: 60px;
    margin-bottom: 40px;
}

#career-education a:hover {
    text-decoration: underline;
    color: #f6f2c0;
    text-shadow: #6b4e23 2px 2px 2px;
}

#career-text {
    background-color: #ebe9e9;
    border: 5px solid #cb9b51;
    width: 1050px;
    padding: 25px;
    margin-top: 25px;
}

#career-text p {
    color: #100E0D;
    line-height: 1.35em;
}

#career-text h3 {
    color: #100E0D;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.3em;
}

#career-text h3 .cursive,
#education-text h3 .cursive {
    color: #100E0D;
    text-transform: lowercase;
    font-size: .7em !important;
}

#education {
    margin-top: 50px;
}

#education-text {
    background-color: #ebe9e9;
    border: 5px solid #cb9b51;
    width: 1050px;
    padding: 25px;
    margin-top: 25px;
}

#education-text p {
    color: #100E0D;
    line-height: 1.35em;
}

#education-text h3 {
    color: #100E0D;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.3em;
}

#per-request {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin-top: 20px;
}

/* Portfolio */

#portfolio {
    position: absolute;
    top: 870px;
    width: 1050px;
}

#portfolio-grid {
    margin-top: 25px;
    display: grid;
    grid-template: repeat(2, 186px) / repeat(3, 330px);
    gap: 30px;
}

.portfolio-card {
    border: 5px solid #cb9b51;
}

/* Skills */

#skills {
    position: absolute;
    top: 870px;
    width: 1050px;
}

#skills-grid {
    margin-top: 25px;
    display: grid;
    grid-template: 1fr / 1fr 1.6fr;
    gap: 30px;
}

#bubbles p {
    display: inline-flex;
    background-color: #DCDCD8;
    border: 2px solid #cb9b51;
    border-radius: 5px;
    color: #100E0D !important;
    padding: 10px;
    margin: 5px;
}

#languages {
    background-color: #ebe9e9;
    border: 5px solid #cb9b51;
    padding: 20px;
}

#languages li {
    color: #100E0D;
    list-style: none;
    margin-bottom: 20px;
}

#skills h3 {
    color: #100E0D;
    margin-bottom: 15px;
    font-size: 1.3em;
}

#my-skills h3 {
    color: #DCDCD8 !important;
    margin-top: 20px;
}
