* {
    font-family: 'Raleway', sans-serif;
    color: #ebe9e9;
    font-size: 1em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-size: 18px;
    max-width: 100%;
    overflow-x: hidden;
}

h1, h1 #name {
    font-family: 'Raleway', sans-serif;
    font-size: 1.35em;
    color: #DCDCD8;
}

h2 {
    font-family: 'Agdasima', sans-serif;
}

.bold {
    font-weight: bold;
    letter-spacing: 1px;
}

.uppercase {
    text-transform: uppercase;
}

.cursive {
    font-style: italic;
}

.line {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 1050px;
    height: 5px;
    border: 0;
    background-image: linear-gradient(
        to right,
        #100E0D  0,
        #cb9b51 30%, 
        #f6e27a 45%,
        #f6f2c0 50%,
        #f6e27a 55%,
        #cb9b51 70%,
        #100E0D 100%
        );
}

/* Header */

#welcome {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#profile {
    position: absolute;
    display: grid;
    max-width: 100%;
    grid-template: 520px / 520px 520px;
    gap: 10px;
}

#hello {
    display: table;
    font-size: 5em;
    background-image: linear-gradient(
        to right,
        #6b4e23  0,
        #cb9b51 22%, 
        #f6e27a 45%,
        #f6f2c0 50%,
        #f6e27a 55%,
        #cb9b51 78%,
        #6b4e23 100%
        );
       color:transparent;
       -webkit-background-clip: text;
}

#name {
    text-transform: uppercase;
    font-size: 1.4em !important;
}

#profile-text {
    align-self: end;
}

#headshot {
    width: 520px;
    height: 520px;
}

#line-1 {
    top: 580px;
}

/* Info and Contact */

#info {
    display: flex;
    position: absolute;
    justify-content: center;
    text-align: center;
    top: 620px;
    width: 1050px;
}

#contact {
    position: absolute;
    justify-content: center;
    top: 690px;
}

#contact a {
    display: inline;
    font-size: 1.7em;
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.4s;
}

#line-2 {
    top: 755px;
}

.nav {
    position: absolute;
    display: grid;
    grid-template: 1fr / repeat(3, 1fr) 200px;
    margin-right: 50px;
    width: 1000px;
    top: 790px;
}

.nav a {
    justify-self: center;
    font-size: 1.3em;
    transition: 0.4s;
}

.nav a:hover {
    cursor: pointer;
    color: #f6f2c0;
    text-shadow: #6b4e23 2px 2px 2px;
    font-size: 1.4em;
    .fas {
        color: #f6f2c0;
    }
}

/* NAV Sections */

#dropdown-sections {
    display: flex;
    justify-content: center;
}

/* About Me */

#about-me {
    position: absolute;
    top: 870px;
    width: 1050px;
    padding-bottom: 50px;
}

#about-me h2 {
    margin-left: 35px;
    margin-bottom: 20px;
    display: table;
    font-family: 'Agdasima', sans-serif;
    font-size: 4em;
    background-image: linear-gradient(
        to right,
        #6b4e23  0,
        #cb9b51 22%, 
        #f6e27a 45%,
        #f6f2c0 50%,
        #f6e27a 55%,
        #cb9b51 78%,
        #6b4e23 100%
        );
        color:transparent;
        -webkit-background-clip: text;
}

#about-me-text {
    background-color: #ebe9e9;
    border: 5px solid #cb9b51;
    width: 1050px;
    padding: 25px;
}

#about-me-text p {
    color: #100E0D;
    line-height: 1.35em;
}

/* Career & Education */

#career-education {
    position: absolute;
    top: 870px;
    width: 1050px;
    padding-bottom: 50px;
}

#career-education h2 {
    margin-left: 35px;
    margin-bottom: 20px;
    display: table;
    font-family: 'Agdasima', sans-serif;
    font-size: 4em;
    background-image: linear-gradient(
        to right,
        #6b4e23  0,
        #cb9b51 22%, 
        #f6e27a 45%,
        #f6f2c0 50%,
        #f6e27a 55%,
        #cb9b51 78%,
        #6b4e23 100%
        );
        color:transparent;
        -webkit-background-clip: text;
}

#career-text {
    background-color: #ebe9e9;
    border: 5px solid #cb9b51;
    width: 1050px;
    padding: 25px;
}

#career-text p {
    color: #100E0D;
    line-height: 1.35em;
}

#career-text h3 {
    color: #100E0D;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.2em;
}

#career-text h3 .cursive {
    color: #100E0D;
    text-transform: lowercase;
    font-size: .7em !important;
}