* {
    font-family: 'Raleway', sans-serif;
    color: #ebe9e9;
    font-size: 1em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    max-width: 100%;
    height: auto;
    overflow-x: hidden;
}

h1, h1 #name {
    font-family: 'Raleway', sans-serif;
    font-size: 1.35em;
    color: #DCDCD8;
}

h2 {
    font-family: 'Agdasima', sans-serif;
}

.bold {
    font-weight: bold;
}

.line {
    position: relative;
    width: 1050px;
    height: 5px;
    border: 0;
    background-image: linear-gradient(
        to right,
        #100E0D  0,
        #cb9b51 30%, 
        #f6e27a 45%,
        #f6f2c0 50%,
        #f6e27a 55%,
        #cb9b51 70%,
        #100E0D 100%
        );
}

/* Header */

#welcome {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#profile {
    position: absolute;
    display: grid;
    max-width: 100%;
    grid-template: 520px / 520px 520px;
    gap: 10px;
}

#hello {
    display: table;
    font-size: 5em;
    background-image: linear-gradient(
        to right,
        #6b4e23  0,
        #cb9b51 22%, 
        #f6e27a 45%,
        #f6f2c0 50%,
        #f6e27a 55%,
        #cb9b51 78%,
        #6b4e23 100%
        );
       color:transparent;
       -webkit-background-clip: text;
}

#name {
    text-transform: uppercase;
    font-size: 1.4em !important;
}

#profile-text {
    align-self: end;
}

#headshot {
    width: 520px;
    height: 520px;
}

#line-1 {
    top: 550px;
}

/* Info and Contact */

#info {
    position: absolute;
    top: 620px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 1050px;
}

#contact {
    position: absolute;
    justify-content: center;
    top: 690px;
}

#contact li {
    display: inline;
    font-size: 1.5em;
    margin-left: 10px;
    margin-right: 10px;
}

/*#profile-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        to right,
        #6b4e23  0,
        #cb9b51 22%, 
        #f6e27a 45%,
        #f6f2c0 50%,
        #f6e27a 55%,
        #cb9b51 78%,
        #6b4e23 100%
        );
        padding: 1em;
}*/

.nav {
    display: none;
}